.about-school{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.courses-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    text-shadow: 0 2px 20px #000;
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 50px;
}